@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

html {
  font-size: 1.5em;
  line-height: 1.4;
}

body {
  font-family: 'Comic Sans MS', serif;
  color: #1ABC9C;
  background-image: url(background.jpg);
  cursor: url(cursor.png), default;
}

a {
  color:#1ABC9C;
  text-decoration:none;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle; 
}