@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

html {
  font-size: 1.5em;
  line-height: 1.4;
}

body {
  font-family: 'Crimson Text', Helvetica, san-serif;
}

a {
  color:#1ABC9C;
  text-decoration:none;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle; 
}

.easter-egg-toggle {
  font-size: 0.5em;
}